@*

un nome
una descrizione
una foto
un prezzo
Modifichiamo quindi la view Index.cshtml generata in automatico da .Net Core scrivendo l’html che serve a noi per mostrare l’elenco delle pizze (possiamo creare una tabella con bootstrap o una qualche grafica a nostro piacimento che mostri l’elenco delle pizze...proviamo un po’ di creatività se vogliamo!)
Buon lavoro!! :faccia_leggermente_sorridente:*@

@{
    Random rand = new Random();
}


<h1>le mie pizze</h1>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=7" alt="">
            <div>
            <h2> margherita </h2>
            <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=6" alt="">
            <div>
            <h2> margherita </h2>
            <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=5" alt="">
            <div>
            <h2> margherita </h2>
            <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=4" alt="">
            <div>
            <h2> margherita </h2>
            <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=3" alt="">
            <div>
            <h2> margherita </h2>
            <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=2" alt="">
            <div>
            <h2> margherita </h2>
           <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>
<div class="container-fluid row" style="margin-top:20px; border:1px solid black; background-color:antiquewhite">
    <div class="col-2" >
    </div>
    <div class="col-8" >
            <img src="https://picsum.photos/200/300?random=1" alt="">
            <div>
            <h2> margherita </h2>
            <h3 style="display:inline;" > prezzo </h3> <span> @rand.Next(1, 10) €</span>
            <div>
                <h3> descrizione </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero maiores quis cum laboriosam quisquam esse hic sequi aspernatur eligendi ducimus, dolorum odio autem? Earum, neque delectus. Vitae animi quod aliquam.
            </div>
        </div>
    </div>
    <div class="col-2" >
    </div>
</div>


